body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(116, 116, 116);
    border-radius: 100px;

    :hover {
        transition: ease;
        transition-duration: 1s;
        background-color: dodgerblue;
    }
}

.main>p {
    color: white;
    font-weight: 800;
    padding: 5px;
}